<div
    class="card-picture mr-3 mb-5 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a>
        <img class="rounded-t-lg" src="{{photoRover.img_src}}" alt="" />
    </a>
    <div class="p-5">
        <a>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{photoRover.rover.name}}</h5>
        </a>
    </div>
    <span
        class="bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">
        {{photoRover.rover.status}}
    </span>
</div>